.button {
	display: inline-block;
	font-weight: 500;
	color: var(--black);
	text-align: center;
	user-select: none;
	padding: 15px;
	font-size: 16px;
	border-radius: 6px;
    background: var(--gray);
	text-decoration: none;
    transition: all .25s ease;

    &:focus, &.focus {
        outline: 0;
        outline-style: none;
        box-shadow: 0 0 0 3px rgba(darken($gray, 20%),.5);
    }

    &.disabled,
    &:disabled {
        opacity: .45;
        pointer-events: none;
    }

    &.button--small {
        font-size: 12px;
    }

	&.button--large {
        font-size: 21px;
        padding: 18px 24px;
	}

    &.button--pink {
        background-color: var(--pink);
        color: var(--white);

        &:focus,
        &.focus {
            box-shadow: 0 0 0 3px rgba($pink,.5);
        }
    }

    &.button--cta {
        &:hover, &.hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);            
        }
    }
}