.form-row__field--contempt {
    position: relative;
    display: flex;
    align-items: center;

    #form_contempt {
        position: relative;
    }
}

.contempt-slider {
    position: absolute;
    width: 100%;
    height: 12px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--gray);
}

.contempt-slider__value {
    background: var(--blue);
    height: 100%;
}