@import "inputrange";

legend {
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}

[type="radio"] {
	position: absolute;
	opacity: 0;

	&:focus + label {
		box-shadow: 0 0 0 3px rgba(darken($gray, 20%),.5);
	}

	&:hover + label {
		background-color: darken($gray, 10%);
	}

	&:checked + label {
		background-color: var(--blue);
		color: var(--white);
	}

	&:focus:checked + label {
		box-shadow: 0 0 0 3px rgba($blue,.5);
	}
}

label {
	cursor: pointer;
}

textarea {
	font-size: 14px;
	width: 100%;
	resize: none;
	background: var(--gray);
	padding: 16px 8px;
	border-radius: 8px;
}

::placeholder {
	color: $gray-300;
}