.navigation {
	display: flex;
	justify-content: center;
	margin-top: 45px;
	opacity: 0;
	transition: opacity 0.6s ease-out;

	ul {
		position: relative;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.navigation__item {
	transition: transform 0.3s ease-in;

	// the first item is the absolutely positioned active one
	// because of this the second item is effectively becoming the first one
	// so start applying a margin on the 3rd item and all the siblings that follow after it
	&:nth-child(2) ~ & {
		margin-left: 8px;
	}

	// span is used for a non-clickable nav item
	// a is used for a clickable nav item
	span, a {
		background: $gray-300;
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	&--active {
		position: absolute; //position absolute to make the active item appear on top
		width: 16px; //make active item double the width in order for the translateX to work

		span {
			background: var(--pink);
		}
	}
}