.slide-outer {
    width: 420px;
    display: grid;
    grid-template-rows: auto;
    place-items: start center;
}

.slide {
    grid-row: 1;
    grid-column: 1;

    border-radius: 6px;
    padding: 42px 38px 38px 38px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    visibility: hidden;

    &.slide--active {
        position: initial;
        visibility: initial;
        transform: translateX(0);
        opacity: 1;
    }

    &.slide--active + .slide {
        transform: translateX(100%);
    }

    header {
        margin-bottom: 19px;

        h2 {
            font-size: 36px;
            margin-bottom: 18px;
        }
    }

    fieldset ~ fieldset {
        margin-top: 23px;
    }

    @for $i from 2 through 5 {
        .form-row--#{$i}-items .button {
          width: calc((100% - #{($i - 1) * 6px}) / #{$i});
        }
    }

    .form-row {
        padding-top: 10px;
    }
}

.form-row__label {
    margin-bottom: 10px;
}

.slide--intro {
    align-self: center;
}

.slide--lets-get-started,
.slide--one-more-thing {
    background: var(--white);
    box-shadow: 0 1px 7px 0 rgba(129,137,169,.2);

    .form-row__field {
        display: flex;
        justify-content: space-between;
    }
}

.slide--signed-up {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 16px;
        font-size: 19px;
    }

    .icon--checkmark {
        width: 90px;
        height: 90px;
        fill: var(--pink);
        color: var(--white);
    }
}

.slide__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;

    p {
        @include slide-in-bottom();
        margin-bottom: 0;
    }

    &--active {
        p {
            @include slide-in-bottom(true);
        }
    }
}