$black: #000;
$white: #fff;
$gray: #ebf1f7;

$gray-100: $gray;
$gray-200: #cfdde2;
$gray-300: #9fafbe;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
);

$pink: #ec677f;
$blue: #4e8deb;

$colors: (
    "gray": $gray,
    "pink": $pink,
    "blue": $blue,
    "white": $white,
    "black": $black,
);

$thumb-border-color: map-get($grays, "200");
$thumb-color: $white;
$thumb-width: 19px;
$thumb-height: 19px;

$track-height: 12px;
$track-color: transparent;
$track-border-width: 0;
$thumb-border-color-focus: $blue;