@import "variables";
@import "mixins";

@import "root";
@import "reboot";
@import "icon-system";
@import "type";
@import "button";
@import "form";
@import "slide";
@import "contempt-slider";
@import "navigation";
@import "collapsible";

body {
	height: 100vh;
	display: grid;
	// Shorthand for the align-items and justify-items properties,
	// combining them into a single declaration.
	place-items: center;
	background: var(--gray);
	overflow-x: hidden;
}

.site-wrapper {
	display: grid;
	grid-template-rows: auto;
}

#react-app {
	@include just-me();

	@at-root body.react-app-loaded & {
		@include just-me(true);
	}
}