<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Frontend task</title>
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
    <svg
        version="1.1"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        xml:space="preserve"
        width="0"
        height="0"
        id="inline-icons"
    >
        <defs>
            <symbol id="icon--checkmark" viewBox="0 0 95 95">
                <title>Checkmark icon</title>
                <circle class="icon--checkmark__path-1" cx="47.5" cy="47.5" r="47.5"/>
                <path class="icon--checkmark__path-2" d="M47.41,59.36a2.09,2.09,0,0,1-1.6-.8l-9-11.4a2,2,0,0,1,.3-2.8,2.17,2.17,0,0,1,2.9.4l7.1,9,7.7-15a2,2,0,1,1,3.6,1.8l-9.2,17.7a2.09,2.09,0,0,1-1.6,1.1Z"/>
            </symbol>
        </defs>
    </svg>
    <div class="site-wrapper" id="react-app">
    </div>
</body>
</html>