@mixin wobble() {
	@keyframes wobble {
		0% {
			transform: none
		}
		15% {
			transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg)
		}
		30% {
			transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 3deg)
		}
		45% {
			transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg)
		}
		60% {
			transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg)
		}
		75% {
			transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -1deg)
		}
		100% {
			transform: none
		}
	}
}

@mixin pulse() {
	@keyframes pulse {
		to {
			opacity: 0
		}
	}
}

@mixin inyoface() {
	@keyframes inyoface {
		0% {
			transform: none
		}
		50% {
			transform: scale(1.4) rotate(2deg)
		}
		100% {
			transform: none
		}
	}
}

@mixin blink() {
	@keyframes blink {
		50% {
			background-color: transparent
		}
	}
}

@mixin jiggle() {
	@keyframes jiggle {
		0% {
			transform: rotateZ(0deg)
		}
		25% {
			transform: rotateZ(9deg)
		}
		75% {
			transform: rotateZ(-9deg)
		}
		100% {
			transform: rotateZ(0deg)
		}
	}
}

@mixin do-the-shake() {
	@keyframes do-the-shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0)
		}
		20%,
		80% {
			transform: translate3d(2px, 0, 0)
		}
		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0)
		}
		40%,
		60% {
			transform: translate3d(4px, 0, 0)
		}
	}
}